.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Main Styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 120px;
    margin-bottom: 120px;
}

/* Shared Styles */

.background-secondary {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.button-primary {
    background-color: #FD6E0A;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
}

.button-secondary {
    background-color: white;
    color: #FD6E0A;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 30px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    font-size: 16px;
}

.text-center {
    text-align: center;
}

/* Header Section Styles Starts */

.header {
    background-image: url('../assets/images/developer.png'), url('../assets/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Navbar Section Styles Starts */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* Navbar Section Styles Ends */

/* Banner Section Styles Starts */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 40px;
    font-weight: 600;
}

.banner-title {
    font-size: 80px;
    font-weight: 700;
}

.banner-description {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-profile-picture {
    width: 580px;
}

.banner button {
    margin-right: 8px;
}

/* Banner Section Styles Ends */

/* Header Section Styles Ends */

/* About Section Styles Starts */

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: 600;
}

.about .section-description {
    margin-bottom: 50px;
}

/* About Section Styles Ends */

/* Skills Section Styles Starts */

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.skills .section-description {
    margin-bottom: 50px;
}

/* Skills Section Styles Ends */